
/*Class Selector*/
.center {
    text-align: center;
  }

 #intro2 {
 
    color: red;

  }

/*ID selector*/
  intro2_1 {
    text-align: center;
    color: rgb(119, 0, 255);

  }

  /*Universal Selector*/
  * {
    background-color:#FFF;
        font: Arial, sans-serif;
  }


/*element selector*/
  p {
   font-family: 'Sofia';
  }

/*Pseudo-class Selector*/
  a.highlight:hover {
    color: #a12170;
  } 


 /* Grouping/ Combinators*/

 /*Selevtor List(element,element)*/
  h3, h4 {
    text-align: center;
    color: hsla(120,100%,75%,0.3);
  }

/*Descendant Combinator */
div p {
  color: hsl(0, 40%, 44%);
}


/*Descendant Combinator*/
  body > p {
    background-color:#e3f4fa;
  }

/*Adjacent Sibling combinator*/
  h2 + h3 {
    background-color: rgba(150, 252, 92);
  }

/* Combining Two Selectors*/
  .combin.combin-red {
       border-color: rgba(236, 132, 62);
     }


/* Border: -style -color -with -radius*/
     intro2_2 {
       border-style: dashed;
       border-width: 5px;
       border-color:green;
       border-radius: 25% 10%;
     }

/* Unit 3absolute */
     p.unit1 {
      line-height: 15mm;
      font-size: 7mm;
    }

    p.unit2{
      line-height: 0.4in;
      font-size: 0.4in;
  }

  p.unit3{
    line-height: 0.4in;
    font-size: 0.3in;
}


/* Unit 3relative */
    #unit_Relative {
      font-size: 20px;
      border: 2px solid rgb(247, 89, 89);
    }
    
    span.unit_Relative_Span {
      font-size: 1ex;
    }


 
    .intro1 {
      width: 140px;
      margin: 14px;
      border: 10px red;
      padding: 42px;
    }
 

  /*margin*/
  #endThanks{
    margin: 50px;
    border: 2px blue;
  }

  #endQuestion{
    margin-right: 160px;
  margin-bottom: 90px;
  margin-top: 80px;
  margin-left: 70px;
  background-color: lightblue;
}
